* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #338cf4;
}
.container {
  background-color: #ffffff;
  width: 75vw;
  padding: 50px 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 10px;
  box-shadow: 0 25px 50px rgba(7, 20, 35, 0.2);
}
.options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

button {
  height: 28px;
  width: 28px;
  display: grid;
  place-items: center;
  border-radius: 3px;
  border: none;
  background-color: #ffffff;
  color: #020929;
}
button:hover {background-color: #717571}

button:active {
  background-color: #717571;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

select {
  height: 28px;
  width: 38px;
  display: grid;
  place-items: center;
  border-radius: 3px;
  border: none;
  background-color: #ffffff;
  color: #020929;
}
.input-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
.text-input {
  outline: none;
  border: 2px solid black;
  border-radius: 10px;
  padding: 25px;
  margin-top: 10px;
  height: 50vh;
  overflow-x: auto;
  overflow-y: auto;
  width: 70vw;
}
img{
  width: 50px;
}
