.text-input {
  outline: none;
  border: 2px solid black;
  border-radius: 10px;
  padding: 25px;
  margin-top: 10px;
  height: 50vh;
  overflow-x: auto;
  overflow-y: auto;
  width: 70vw;
  cursor: text;
  resize:vertical
}

.container {
  background-color: #ffffff;
  width: 75vw;
  padding: 50px 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 10px;
  border: 2px solid rgb(212, 206, 206);
  border-radius: 10px;
  height: 75vh;
}

.options {
  background: whitesmoke;
  padding: 2px;
  border-radius: 15px;
  max-width: max-content;
}

.button {
  margin: 4px;
  padding: 10px 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 150ms linear;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  text-transform: capitalize;
  color:black;
  border: 0 none;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.3;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  justify-content: center;
  align-items: center;
  flex: 0 0 160px;
  box-shadow: 2px 5px 6px #e4e4e4;
}

.button:hover {
  transition: all 150ms linear;
  opacity: .85;
}

.button:active {
  transition: all 150ms linear;
  opacity: .75;
}

.button:focus {
  outline: 1px dotted #959595;
  outline-offset: -4px;
}

.button.-regular {
  color: #202129;
  margin-bottom: 13px;
  background-color: #f2f2f2;
}

.button.-regular:hover {
  color: #202129;
  background-color: #e1e2e2;
  opacity: 1;
}

.button.-regular:active {
  background-color: #d5d6d6;
  opacity: 1;
}
img{
  width: 60px;
}



